MONGO_URI=mongodb+srv://<USERNAME>:<PASSWORD>@cluster0.rgvfihs.mongodb.net/researchhub?retryWrites=true&w=majority
PORT=5000
JWT_SECRET=your_jwt_secret_here
GOOGLE_CLIENT_ID=your_google_oauth_client_id_here
SMTP_EMAIL=your_gmail_address@gmail.com
SMTP_APP_PASSWORD=your_gmail_app_password_here
